/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #f2efe9
}

h1 {
  font-style: italic;
  color: #252627;
}

.bold {
  font-weight: bold;
}

.row {
  display: flex;
  space-between: 10px;
}

.column {
  flex: 50%;
}

p {
  max-width: 440px;
  color: #252627;
  font-weight: 700;
}

#new_user_form {
  margin-bottom: 25px;
  padding: 1px 15px 15px 15px;
  background-color: #564e58;
  color: #bfb48f;
  display: block;
  width: 100%;
  max-width: 440px;
  border-radius: 3px;
}

#activity_entry_form {
  margin-bottom: 25px;
  padding: 1px 15px 15px 15px;
  background-color: #564e58;
  color: #bfb48f;
  display: block;
  width: 100%;
  max-width: 440px;
  border-radius: 3px;
}

#log_req_form {
  margin-bottom: 25px;
  padding: 1px 15px 15px 15px;
  background-color: #564e58;
  color: #bfb48f;
  display: block;
  width: 100%;
  max-width: 440px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  color: #f2efe9;
  border-radius: 3px;
  background-color: #904e55;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: #bfb48f;
}

button:active {
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}
